/*******************************************************************************
 * On distingue quatre partitions EPUB, applicables à <body> ou <section> :
 *   cover, frontmatter, bodymatter, backmatter
 *   http://www.idpf.org/epub/vocab/structure/#h_partitions
 *
 * … et cinq niveaux de divisions EPUB, applicables à <body> ou <section> :
 *   volume, part, chapter, subchapter, division
 *   http://www.idpf.org/epub/vocab/structure/#h_divisions
 *
 * Les classes préfixées .epub- sont associées aux éléments EPUB éponymes,
 *   e.g. .epub-footnotes est associée à <aside epub:type="footnotes">
 * Les classes non préfixées sont applicables à n’importe quel élément XHTML.
 */

/*******************************************************************************
 * Titres
 * On prévoit des styles spécifiques aux 3 premiers niveaux de division EPUB :
 *
 *   epub:volume      <h1>      .titre-volume
 *   epub:part        <h1>      .titre-partie   (optionnel)
 *   epub:chapter     <h2>      .titre-chapitre
 *   epub:subchapter  <h3>
 *   epub:division    <h[456]>
 *
 * Référence : http://www.idpf.org/epub/vocab/structure/#h_divisions
 * Voir aussi : http://www.idpf.org/epub/vocab/structure/#h_titles
 */

/* aide à la relecture -- désactiver cette ligne avant publication de l’EPUB */

/* @import url(relecture.css);


/* largeur optimisée pour la lecture */
body {
  max-width:48em;
  margin: 0 auto;
}
h1, h2, h3, h4, h5, h6 {
  font-family: sans-serif;
  font-weight: bold;
}

/* titre du livre : <h1> */
.titre-volume {
  page-break-before: always;
  margin-top: 30%;
  font-size: 2em;
}
.titre-volume .epub-subtitle {
  display: block;
  font-size: 0.75em;
}

/* titre de partie du livre : <h1> */
.titre-partie {
  page-break-before: always;
  margin-top: 30%;
  padding: 1em 0;
  border-bottom: 1px solid;
  border-top: 1px solid;
  font-size: 2em;
}
.titre-partie .numero-partie {
/*  font-variant: small-caps; */
  text-transform: uppercase;
  font-size: smaller;
}
.titre-partie .epub-subtitle {
  display: block;
  font-size: 0.75em;
}

/* titre de chapitre : <h2>
 * - le numéro du chapitre peut être placé au-dessus du nom du chapitre
 *   s’il est dans un <span class="numero-chapitre"> */
.titre-chapitre {
  padding: 1em 0;
  text-align: center;
}
.titre-chapitre .numero-chapitre {
  display: block;
  float: right;
  margin-top: -2.5em;
}
.titre-chapitre .epub-subtitle {
  display: block;
}
.titre-chapitre::after {
  content: "";
  clear: both;
}

/*******************************************************************************
 * EPUB cover: "The publications cover(s), jacket information, etc."
 * http://www.idpf.org/epub/vocab/structure/#h_partitions
 */

.epub-cover {
  text-align: center;
}

.epub-cover img {
  max-height: 100%;
  max-width: 100%;
}

.epub-cover p {
  text-indent: 0;
}
.epub-cover .signature {
  padding: 1.5em 0;
  margin-top: 5em;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  text-align: center;
  font-size: 1.5em;
}

.licence .logo {
  /* width: 10em; */
  margin: 0 auto;
  padding: 1em 0;
  border-top: 1px solid;
  text-align: center;
}

/* notes de bas de page */
.epub-footnotes {
  border-top: 1px solid;
}
.epub-footnotes ol,
.epub-footnotes ul {
  list-style-type: none;
}
.epub-footnotes ol li,
.epub-footnotes ul li {
  padding-bottom: 1em;
}

img {
	max-height: 100%;
	max-width: 100%;
}

dl {
  margin: 0 4em;
  border-width: 2px 0;
  border-style: solid;
  text-align: center;
}

.logiciel{
  font-weight: bold;
   color: #ff0066;
}

.type, dd, ul{
  margin: 0;
}

.apprent, .install{
  font-style: italic;
}

.resume{
   color: #ff0066;
   font-style: italic;
   font-weight: bold;
}

.intro{
  font-weight: bold;
  color: #ff0066;
}

.astuce{
  background-color: #fab3b7;
  border-width: 1px;
  border-style: solid;
}

.astuce .titre{
  background-color: #000;
  font-weight: bold;
  color: #fff;
}

.question{
  font-style: italic;
  color: #ff0066;
}

.epigraph{
  margin-left: 25%;
  padding: 1em 5em;
  text-align: right;
  font-size: 0.75em;
}
.glossaire dl{
  border-width: 0;
  text-align: left;
}

.glossaire dt {
  display: inline;
  font-weight: bold;
  margin-left: 2em;
}
.glossaire dd {
  text-indent: 2em;
  margin-left: 0;
  margin-bottom: 1em; /* idem p et br */
}
.glossaire dt + dd {
  display: inline;
}

.glossaire dt + dd::after {
  content: "";
  display: block;
  margin-bottom: 1em; /* idem p et br */
}

.index-alpha {
  list-style-type:none;
}
